body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.banner, .footer {
  text-align: center;
  background-color: #825eb8;
  color: white;
  padding: 20px;
}

.container {
  flex: 1;
  display: flex;
}

.sidebar-left, .sidebar-right {
  width: 100%;
  padding: 200px;
  background-color: #f4f4f4;
}

.main-content {
  width: 60%;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
